@import './fonts.styl'
@import './settings.styl'		
@import './transitions.styl'


body
	font-family "helveticaLT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300

// COMMON STYLES
a,button
	&:focus, &:active
		outline 0
.btn
	font-size 16px
	line-height 50px
	color #fff
	border 1px solid #01cefd
	padding 0 30px
	background none
	cursor pointer

.no-items h4, h4.no-items
	display inline-block
	width 100%
	text-align center
	font-size 28px
	font-weight 300
	line-height 30vh