@import '~normalize'
@import './fonts.styl'
@import '~settings'
@import './transitions.styl'
body
	font-family "helveticaLT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300
	& *
		font-family "helveticaLT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
		font-weight 300
		box-sizing border-box
		font-style normal
// COMMON STYLES
a,button
	&:focus, &:active
		outline 0 !important
	&:visited, &:link, &:-webkit-any-link
		color #fff
.backdrop
	position absolute
	background rgba(#2f2f2f, 0.97)
	width 100%
	z-index 99999
	left 0
	top 100%
	padding-top 10vh
	padding-bottom 49%
	overflow hidden
	@media (min-width:1024px), (max-height:769px)
		padding-top 6vh
.closebtn
	position absolute
	top 24px
	right 24px
	width 4vmin
	height @width
	&:after, &:before
		content ''
		position absolute
		top 50%
		left 50%
		width 1px
		height 100%
		transform translate(-50%, -50%) rotate(-45deg)
		background rgba(#fff, 0.5)
		transition background 200ms ease-out
	&:after
		transform translate(-50%, -50%) rotate(45deg)
	&:hover
		&:after, &:before
			background #fff
.btn
	font-size 18px
	line-height 50px
	color #fff
	border 1px solid #01cefd
	padding 0 20px
	background none
	cursor pointer
	white-space nowrap
	letter-spacing 1px
	transition color 300ms ease, background 300ms ease
	&:hover
		color #01cefd
		background rgba(#01cefd, 0.01)             
	@media (max-device-width:1050px)
		height 50px
		line-height 3.5
	@media (max-width:breaks.small)
		padding 0 10px
		font-size 15px
.no-items h4, h4.no-items
	display inline-block
	vertical-align middle
	width 99%
	text-align center
	font-size 28px
	font-weight 300
	pointer-events none
.circle-item
	background-position 50% 50%
	background-size 105%
	background-repeat no-repeat
	border-radius 50%
	overflow hidden
	margin 0 auto
	box-shadow 2px 2px 8px rgba(0,0,0,0.2)
	background-color #2e2e2e
.item-small
	width 198px
	height 198px

.h100
	height 100%

.vw100
	width 100vw
	overflow hidden

.arw
	border-left 1px solid #939393
	border-bottom 1px solid #939393
	position relative
	width 7px
	height @width
	transition transform 300ms ease
	transform-origin center
	&.down
		transform rotate(-45deg)
	&.up
		transform rotate(135deg)
		