@import './fonts.styl'
@import './settings.styl'		

body
	font-family "helveticaLT", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300