
@font-face {
  font-family: 'helveticaLT';
  src: url("/dist/css/fonts/HelveticaNeueLTStd-Lt.woff") format('woff'),
       url("/dist/css/fonts/HelveticaNeueLTStd-Lt.ttf") format('truetype'),
       url("/fonts/HelveticaNeueLTStd-Lt.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}